{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Django</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>{{ header }}</h1>
    <p>Имя: {{ user.name}} Возраст: {{user.age}}</p>
    <p>Адресс: ул. {{address.0}}, д. {{address.1}}, кв. {{address.2}}</p>
    <p>Языки: {{langs.0}}, {{langs.1}}</p>

    <ul>
        {% for lan in langs %}
        <li>{{ lan }}</li>
        {% empty %}
        <li>Langs array is empty</li>
        {% endfor %}
    </ul>

    {% if n > 0 %}
        <p>Число положительное</p>
    {% elif n < 0 %}
        <p>Число отрицательное</p>
    {% else %}
        <p>Число равно нулю</p>
    {% endif %}


    {% comment %}
        <p>Вывод содержимого в шаблон Django</p>
    {% endcomment %}
    {{ body }}
    {% autoescape off %}
        {{ body }}
    {% endautoescape %}


    <p>{% now "Y" %}</p>
    <p>{% now "F j Y" %}</p>
    <p>{% now "N, j, Y" %}</p>
    <p>{% now "N j, Y, P" %}</p>

    <div>
        {% with message="Hello" %}
        <h2>{{ message|add:" Django" }}</h2>
        {% endwith %}
    </div>

    {% with message="я был дома" %}
        {{ message|capfirst }}<br>
        {{ message|cut:"был" }}
    {% endwith %}
    
    <div>
        {% with isEnabled=False %}
            {{ isEnabled|default:"unabled" }}
        {% endwith %}
        <br>
        {% with name="" %}
            {{ name|default:"Undefined" }}
        {% endwith %}
        <br>
        {% with user=None %}
            {{ user|default_if_none:"Undefined" }}
        {% endwith %}
    </div>

    <div>
        {% with value=34232.34 %}
            {{ value|floatformat:"2g" }}
        {% endwith %}
        <br>
        {{ value|floatformat:"2u" }}
    </div>

    <div>
        <h2>{{ my_date|date:"d.m.Y" }}</h2>
        <h2>{{ my_date|date:"H:i" }}</h2>
        <h2>{{ my_date|date:"c" }}</h2>
        <h2>{{ my_date|date:"SHORT_DATE_FORMAT" }}</h2>
    </div>

    <div>
        {{ users|join:", "}}
    </div>

    <div>
        <img src="{% static "forest.jpg" %}" alt="лес" >
    </div>
</body>
</html>